.contact {
    h2 {
        margin-bottom: 1em;

        span {
            margin-left: -4px;
        }
    }

    .contact-content {
        .form {
            width: 100%;

            input[type=button] {
                background-color: #694873;
                border: 0;
                color: #fff;
                width: 40%;
                padding: 1em;
                font-size: 1em;
                transition: all .5s ease;
                font-weight: 700;
                cursor: pointer;
                height: auto;

                &:hover {
                    background-color: $red;
                    color: white;
                }
            }

            .nf-field-label {
                margin-bottom: 0;
            }

            .ninja-forms-field {
                height: 40px;
            }

            textarea.ninja-forms-field {
                height: 120px;
            }

            .nf-field-element {
                &::after {
                    height: 40px;
                    line-height: 40px;
                }
            }
        }
    }
}