.download {
    text-align: center;

    button {
        background-color: $dark-purple;
        border: 0;
        color: white;
        width: 40%;
        padding: 1em;
        font-size: 1em;
        transition: .5s ease all;
        font-weight: 700;
        cursor: pointer;

        &:hover {
            background-color: $red;
        }
    }
}

@media (max-width: 767px) {
    .download {
        button {
            width: 100%;
        }
    }
}