footer {
    background-color: $dark-purple;
    color: white;
    margin-bottom: 0;
    padding: 1em;

    p {
        margin: 0;
    }
}

@media (max-width: 767px) {
    footer {
        p {
            font-size: .8em;
        }
    }
}