$primary-font: 'Livvic', sans-serif;
$secondary-font: 'Nunito Sans', sans-serif;

$link-color: $dark-purple;
$active-link: $red;

html {
    font-size: 18px;
    font-family: $primary-font;
    font-weight: 200;

    .primary-font {
        font-family: $primary-font;
    }   
    
    .secondary-font {
        font-family: $secondary-font;
    }

    body {
        padding: 0;
        margin: 0;
    }

    a {
        color: $link-color;
        transition: .5s ease all;

        &:hover {
            color: $active-link;
        }
    }
}

.text-center {
    text-align: center;
}

section {
    margin-bottom: 3em;

    h2 {
        color: $dark-purple;
        font-family: $secondary-font;
        margin: 0 auto 1em auto;
        border-bottom: 2px solid #694873;
        line-height: .6;
        font-size: 2.5em;
        font-weight: 200;
        width: 70%;

        span {
            margin-left: -10px;
        }
    }
}

.back-button {
    background-color: $dark-purple;
    border: 0;
    color: white;
    width: 40%;
    padding: 1em;
    font-size: 1em;
    transition: .5s ease all;
    font-weight: 700;
    cursor: pointer;

    &:hover {
        background-color: $red;
    }
}

.return {
    text-align: center;
    margin-top: 1em;
}

@media (max-width: 767px) {
    section {
        h2 {
            font-size: 1.7em;
        }
    }
}
