header {
    border-bottom: 3px solid $dark-purple;
    
    .header-content {
        display: flex;
        justify-content: center;
        align-items: center;

        .logo {
            text-align: center;

            h1 {
                color: $dark-purple;
                font-family: $secondary-font;
                font-size: 4em;
                margin: 0;
                font-weight: 200;
            }

            p {
                color: $dark-purple;
                margin: 0;
                margin-top: -10px;
                opacity: .8;
                font-size: 1.2em;
                font-weight: 300;
            }
        }
    }
}

@media (max-width: 767px) {
    header {
        .header-content {
            .logo {
                h1 {
                    font-size: 2.8em;
                }

                p {
                    font-size: 1.1em;
                }
            }
        }
    }
}