.intro {
    padding-top: 1em;

    .photo {
        align-items: center;
        display: flex;

        img {
            border: 3px solid $dark-purple;
            max-height: 280px;
            opacity: .9;
            transition: .5s ease opacity;

            &:hover {
                opacity: 1;
            }
        }
    }

    .intro-content {
        display: flex;
        flex-direction: column;
        justify-content: center;

        p {
            padding-left: 1em;
            padding-right: 1em;
            margin-top: 1em;
            margin-bottom: 1em;

            .hello {
                font-size: 2em;
                font-weight: 200;
            }
        }
    }
}

@media (max-width: 767px) {
    .intro {
        flex-direction: column;
        align-items: center;
    }
}
