.projects {
    .legal-text {
        font-size: 0.9em;
        line-height: 1.3;
    }

    .ugb-card {
        margin-left: auto;
        margin-right: auto;
        width: 43%;
        display: inline-block;
        padding: 1em;

        .ugb-card__title {
            font-family: $secondary-font;
            font-weight: 600;
            font-size: 1.1em;
        }
    }

    h2 {
        span {
            margin-left: -9px;
        }
    }

    .ugb-button {
        background-color: $dark-purple;
        transition: .5s ease background-color;

        &:hover {
            background-color: $red;
        }
    }
}

@media (max-width: 767px) {
    .projects {
        .ugb-card {
            width: auto;
            display: block;
        }
    }
}