.skills {
    .skills-column {
        width: 50%;

        ul {
            padding-left: 1.5em;
        }
    }

    .skills-center {
        width: 45%;
    }
}

@media (max-width: 767px) {
    .skills {
        .skill-row {
            flex-direction: column;
        }

        .skills-column {
            width: auto;
        }

        .skills-center {
            width: 100%;
        }
    }
}
